@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F9FAFB;
  font-family: system-ui, -apple-system, sans-serif;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  min-height: 100svh;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
